// font
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Colors
$color-red: #e74c3c;
$color-orange: #e67e22;
$color-yellow: #f1c40f;
$color-green: #1abc9c;
$color-blue: #3498db;
$color-purple: #9b59b6;
$color-black: #444;
$color-white: #fff;